<!-- Steps -->
<!--
Upload [x]
login
invite via FB/GMail
permission management
card template
drag and drop (make card)
save state
e-commerce/payment
download/print
-->

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="../public/site.webmanifest">
        <link rel="apple-touch-icon" href="../public/icon.png">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="../public/css/normalize.css">
        <link rel="stylesheet" href="../public/css/main.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- ================================================================================================-->
        <!--                                            Start                                                -->
        <!-- ================================================================================================-->

        <input id="upload-input" name="upload-input" type="file" accept="image/*">
        <button id="upload-btn" class="btn btn-lg upload-btn" type="button">Upload File</button>

        <!-- ================================================================================================-->
        <!--                                            End                                                -->
        <!-- ================================================================================================-->

        <script src="../public/js/vendor/modernizr-3.5.0.min.js"></script>
        <script
                src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="../public/js/plugins.js"></script>
        <script src="../public/js/upload.js"></script>
        <script src="../public/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>